body{
    font-family: "Red Hat Text", serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 320px; 
    max-width: 900px; 
    margin: auto;
}

/*TOP-CONTAINER*/
.container-top{
    background-color: hsl(234, 17%, 12%);
    background-image: url("./images/bg-stars.svg");
    padding-top: 10%;
    padding-bottom: 10%;
}

.header{
    color: hsl(0, 0%, 100%);
    margin-bottom: 50px; 
    font-weight: 600;
}

.header, .time-text{
    letter-spacing: .25rem;
}

/*BOXES*/
.box-container{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.boxes{
    display: flex; 
    flex-direction: column;  
}

.box{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: hsl(345, 95%, 68%);
    background-color: hsl(236, 21%, 26%);
    width: 75px; 
    height: 75px; 
}

.numbers{
    font-size: 2.50rem;
}

.time-text{
    font-size: .60rem; 
    color: hsl(237, 18%, 59%);
    margin-top: 20px; 
    font-weight: 700;  
}

/*BOTTOM-CONTAINER*/
.container-bottom{
    background-image: url("./images/pattern-hills.svg");
    background-color: hsl(235, 16%, 14%); 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: bottom;
}

/*ICONS*/
.icons{
   font-size: 2rem; 
   margin: 10px 10px 25px 10px; 
   color: hsl(237, 18%, 59%);
   padding-top: 225px;
}

.fa-square-facebook:hover, .fa-pinterest:hover, .fa-instagram:hover{
    cursor: pointer;
    color: hsl(345, 95%, 68%);
}